page-login {

  ion-header {
    div.toolbar-background {
      background-color: transparent;
    }

    button {
      span.button-inner {
        color: color($colors, light);
      }
    }
  }

  ion-content {
    background: -webkit-linear-gradient(to bottom left, color($colors, secondary), color($colors, tertiary));
    background: linear-gradient(to bottom left, color($colors, secondary), color($colors, tertiary));

    div.scroll-content {
      display: flex;
      align-items: center;

      form {
        margin: auto;

        ion-item {
          background-color: transparent !important;
          color: white;
          padding: 0 16px;

          div.item-inner {
            border-bottom: 1px solid color($colors, light) !important;
            box-shadow: none !important;
            padding: 0px !important;
            font-size: 2.4rem;
            font-weight: 300;

            input {
              text-align: center;
            }

            input::placeholder {
              color: color($colors, light);
            }
          }
        }

        button {
          width: 100%;
          color: white;
          text-transform: capitalize;
          font-weight: 200;
          font-size: 2.4rem;
          margin-top: 6rem;
        }
      }

    }
  }
}
